<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Sep 2024

 -->


<html>
<head>
<link rel="stylesheet" href="../static/style.css">
    <title> foo </title>
  </head>

  <body>
    <div class="header">
      <h1>
        h1 foo
      </h1>
    </div>
    <div class="main">
        <div class="nav">
            <h3>nav foo</h3>
              <p5>dis</p5>
              </br>
              <p5>dat</p5>
              </br>
              <p5>de udda ting</p5>
        </div>
      <div class="inside">
      <h3>main foo heading</h3>
      <p>Bacon ipsum dolor amet kielbasa biltong salami pork loin andouille chislic.
      Pig t-bone pork prosciutto pork belly landjaeger. 
      Leberkas tongue pork belly, ground round corned beef biltong doner t-bone. 
      Shankle pork belly leberkas spare ribs turkey sausage capicola, 
      pork chop strip steak corned beef drumstick salami chicken. Short ribs flank chuck bresaola turducken.
      Landjaeger sirloin drumstick jerky frankfurter short ribs salami kevin boudin turkey meatloaf sausage alcatra pig doner.
      Beef filet mignon doner, ground round tongue brisket sirloin picanha pork boudin venison sausage shankle bacon andouille.
        </br>
        </br>
      Ham meatloaf turducken ham hock, salami cow strip steak bacon. 
      Strip steak beef ribs meatball, porchetta tail tri-tip bacon prosciutto frankfurter cupim kevin doner rump alcatra.
      Venison rump cow, tail ribeye filet mignon buffalo sausage spare ribs. 
      Tri-tip boudin burgdoggen salami, biltong pig flank ground round. 
      Drumstick capicola burgdoggen, tongue hamburger meatball venison pork chop ground round turkey corned beef ball tip. 
      Biltong capicola rump buffalo ham hock, sirloin tongue. Kevin porchetta short loin, pancetta chuck shank fatback frankfurter ham. 
      Fatback short ribs jerky chuck pork chop alcatra cow burgdoggen sirloin shoulder pork belly.</p>
      </div>
    </div>
    <div class="copyright">
      <p2>Copyright © 2015 Clyde "Thluffy" Sinclair<p2>
    </div>
  </body>
</html>
