<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Sep 2024

 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Margie Cao, Moyo Fagbuyi, Tim Ng (Systems Level Programming)
    </h1>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth" method="GET"> <!--- get allows user inputs to be stored -->
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
